.btn {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &--nav {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 4px solid rgba($teal, 0);
    height: 100%;
    transition: border $fade;

    &:hover {
      border-top: 4px solid rgba($teal, 1);
    }
  }

  &--topics {
    border: 1px solid $light-gray;
    display: flex;
    padding: 1.2rem 1rem 1.2rem 2.8rem;
    transition: background-color $fade;

    & h3:first-of-type {
      margin-right: 2.8rem;
    }

    &:hover {
      background-color: $dark-gray;
    }
  }

  & h4 {
    color: $white;
  }
}
