.btn {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &--nav {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 4px solid rgba($teal, 0);
    height: 100%;
    transition: border $fade;

    &:hover {
      border-top: 4px solid rgba($teal, 1);
    }
  }

  &--topics {
    border: 1px solid $light-gray;
    display: flex;
    padding: 1.2rem 1rem 1.2rem 2.8rem;
    transition: background-color $fade;

    & h3:first-of-type {
      margin-right: 2.8rem;
    }

    &:hover {
      background-color: $dark-gray;
    }
  }

  & h4 {
    color: $white;
  }
}

@media (max-width: $mobile-break) {
  .btn {
    border: none;

    &--nav {
      align-items: center;
      border: none;
      display: grid;
      grid-template-columns: repeat(2, 2rem) 1fr 17.9rem;
      padding: 2rem 0;
      width: 100%;

      &__dot {
        border: none;
        border-radius: 20rem;
        height: 2rem;
        width: 2rem;
      }

      h4 {
        grid-column: 3 / 4;
        text-align: start;
      }

      svg {
        margin-left: auto;
      }

      &:hover {
        border-top: none;
      }
    }

    &--topics {
      border: none;
      display: flex;
      padding: 1.2rem 1rem 1.2rem 2.8rem;
      transition: background-color $fade;

      & h3:first-of-type {
        margin-right: 2.8rem;
      }

      &:hover {
        background-color: $dark-gray;
      }
    }
  }
}
