.container {
  background-color: $dark-blue;
  display: grid;
  grid-template-rows: 8.6rem 1fr;
  min-height: 100vh;
  max-width: 100vw;
}

@media (max-width: $tablet-break) {
  .container {
    grid-template-rows: 15.9rem 1fr;
  }
}

@media (max-width: $mobile-break) {
  .container {
    grid-template-rows: 6.8rem 1fr;
  }
}
