nav {
  border-bottom: 1px solid $light-gray;
  display: grid;
  grid-template-columns: 10.9rem 1fr 66.5rem;
  height: 100%;
  padding: 2.2rem 4rem 2.7rem 3.2rem;
  width: 100%;

  h1 {
    grid-column: 1 / 2;
  }

  ul {
    display: flex;
    grid-column: 3 / 4;
    height: calc(100% + 4.9rem);
    justify-content: space-between;
    transform: translateY(-2.2rem);
  }
}

@media (max-width: $tablet-break) {
  nav {
    grid-template-columns: auto;
    grid-template-rows: 7.5rem 2.5rem;
    padding: 3.2rem 5.2rem 2.7rem 5.2rem;

    h1 {
      grid-column: 1 / 2;
      text-align: center;
      // width: 100%;
    }

    ul {
      grid-column: 1 / 2;
      height: 2.5rem;
      transform: translateY(0);
      // width: 100%;
    }
  }
}
