.planet {
  align-items: center;
  display: grid;
  grid-template-rows: 75.4rem 12.8rem;
  justify-content: center;
  width: 100%;

  &__main {
    display: grid;
    grid-template-columns: 67.3rem 1fr;
    width: 111rem;
  }

  &__stats {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 25.5rem);
    height: 12.8rem;
    margin-bottom: 5.6rem;
    width: 111rem;

    & div {
      border: 1px solid $light-gray;
      padding: 2rem 2.3rem 2.7rem 2.3rem;

      & p {
        color: $light-gray;
        margin-bottom: 1.2rem;
      }

      & h2 {
        animation: fadeIn 3s;
      }
    }
  }

  &__view {
    align-items: center;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;

    &--planet {
      animation: fadeIn $fade;
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    &--geology {
      align-items: flex-end;
      animation: fadeIn $fade;
      display: flex;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-content: center;
      transform: translateY(5rem);
      z-index: 3;

      & img {
        height: 19.9rem;
        width: 16.3rem;
      }
    }
  }

  &__overview {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
      margin-bottom: 1rem;
    }

    & p {
      margin-bottom: 2.4rem;
    }
  }

  &__topics {
    display: grid;
    grid-row-gap: 1.6rem;
    grid-template-rows: repeat(3, 4.8rem);
  }
}

@media (max-width: $tablet-break) and (min-width: $mobile-break) {
  .planet {
    grid-template-rows: 1fr 12.8rem;

    &__main {
      grid-template-columns: none;
      grid-template-rows: 62rem 1fr;
      margin-bottom: 2.7rem;
      width: 100%;
    }

    &__view {
      &--geology {
        transform: translateY(9rem);
      }
    }

    &__stats {
      grid-gap: 1.1rem;
      grid-template-columns: repeat(4, 16.4rem);
      height: 8.8rem;
      margin-bottom: 3.6rem;
      width: 100%;

      & div {
        padding: 1.6rem 1.5rem;

        & p {
          color: $light-gray;
          margin-bottom: 0.6rem;
        }

        & h2 {
          animation: fadeIn 3s;
        }
      }
    }

    &__overview {
      display: grid;
      grid-template-columns: 33.9rem 1fr 28.1rem;
    }

    &__topics {
      grid-column: 3 / 4;
      height: 100%;
      transform: translateY(3.9rem);
    }
  }
}

@media (max-width: $mobile-break) {
  .planet {
    grid-template-rows: repeat(2, min-content);

    &__topics {
      border-bottom: 1px solid $light-gray;
      display: flex;
      grid-template-rows: none;
      height: 100%;
      justify-content: space-around;
    }

    &__main {
      grid-template-columns: none;
      grid-template-rows: 5rem 30.4rem min-content;
      margin-bottom: 2.7rem;
      width: 100%;
    }

    &__view {
      &--geology {
        transform: scale(0.6) translateY(5rem);
      }
    }

    &__stats {
      grid-gap: 0.8rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 4.8rem);
      height: 100%;
      margin-bottom: 4.7rem;
      padding: 0 2.4rem;
      width: 100%;

      & div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1.3rem 2.4rem;

        & p {
          color: $light-gray;
          margin-bottom: 0;
        }

        & h2 {
          animation: fadeIn 3s;
        }
      }
    }

    &__overview {
      padding: 0 2.4rem;
      width: 100%;

      &--container {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
